<div class="vote-buttons" data-voteable-id="<%= vote.voteable_id %>" data-voteable-type="<%= vote.voteable_type %>">
  <span class="vote-count"><%= voteable.upvote_count %></span>
  <%= render "social/votes/upvote_button.html", vote: vote %>
  <%= render "social/votes/downvote_button.html", vote: vote %>
</div>
