<div id="flyover_comment_<%= comment.id %>" class="flyover-comment">
  <div class="flyover-comment-content">
    <%= comment.content %>
  </div>
  <div class="flyover-comment-details">
    By: <%= comment.commenter_name %> &middot; <%= comment.created_at.strftime("%B %d, %Y %l:%M%P") %> &middot; <%= delete_flyover_comment_link comment %> &middot; <%= flag_flyover_comment_link comment %>
  </div>
</div>
