<%= form_for comment, {url: flyover_comments.comments_path, html: { id: "flyover-comment-form" }}.merge(form_opts) do |f| %>
  <%= f.hidden_field :commentable_id if comment.commentable_id %>
  <%= f.hidden_field :commentable_type if comment.commentable_type %>
  <%= f.hidden_field :parent_id %>
  <div class="flyover-comment-text-area"><%= f.text_area :content %></div>
  <div class="flyover-comment-submit"><%= f.submit data: { disable_with: t('.submitting') } %></div>
<% end %>
