<%= form_for comment, {url: flyover_comments.comments_path, html: { id: "flyover-comment-form", class: "flyover-comment-form" }}.merge(form_opts) do |f| %>
  <%= f.hidden_field :commentable_id if comment.commentable_id %>
  <%= f.hidden_field :commentable_type if comment.commentable_type %>
  <%= f.hidden_field :parent_id %>
  <div class="flyover-comment-text-area form-group">
    <%= f.text_area :content, class: "form-control", placeholder: t('.comment_content_placeholder') %>
  </div>
  <div class="flyover-comment-submit">
    <%= f.submit t('.submit'), class: "btn btn-primary", data: { disable_with: t('.submitting') } %>
    <%= link_to t('.cancel'), "#", class: "flyover-comment-cancel hide" %>
  </div>
<% end %>
